<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lundr.no</title>


    <style>
        @font-face {
            font-family: "libertine";
            src: url("/fonts/linlibertine_adrs-webfont.woff") format("woff2")
        }
    </style>
    
</head>
<body>
    <slot />
</body>
</html>