<footer class="footer">

    <p>Copyright Håvar Hagelund 2022</p>
    <p>Org nr 922 203 563 MVA</p>
    <p><a href="mailto:havar@lundr.no">havar@lundr.no</a></p>
    <p><a href="telf:004747458236">+47 474 58 236</a></p>

    
</footer>


<style>
    .footer {
        margin: auto;
        margin-top: 10rem;
        max-width: 50rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1rem;
    }

    a {
        text-decoration: none;
        color: #4796AE;
        font-weight: 400;
    }
</style>