---
import CtaButton from "./CtaButton.astro";

const turqouise = "#4796AE";
const seaBlue = "#556F7A";
---

<header>
    <div class="nav-wrapper">
        <div class="nav-left">
            <a href="./">Lundr</a>
        </div>
        <div class="nav-right">
            <a href="./">Tjenester</a>
            <a href="./coming-soon">Integrasjoner</a>
            <a href="./coming-soon">Om oss</a>
            <CtaButton btnUrl="./coming-soon" btnOpen={true} btnColor={turqouise}>Kontakt oss</CtaButton>
        </div>
    </div>
</header>

<style define:vars={{turqouise}}>
    header {
        padding: 1rem 3rem 0rem;
    }

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 70rem;
        margin: auto;
        transition: all 300ms ease;
    }
    
    .nav-left a {
        font-size: 1.5rem;
        font-weight: 400;
        color: #222829;
        text-decoration: none;
        line-height: 1.5rem;
        
    }
    
    .nav-right {
        font-family: inter, sans-serif;
        color: #222829;
        font-size: 1rem;
        font-weight: 400;
        display: flex;
        align-items: center;

        
    }
    
    .nav-right a {
        font-size: 1rem;
        font-weight: 400;
        color: #222829;
        text-decoration: none;
        transition: all 200ms ease;
        padding: 1.5rem;
    }

    .nav-right a:hover {
        color: var(--turqouise);
    }

    

    
</style>
