
<section>
    <h2>72% mer fornøyde ansatte, 11% mer fornøyde kunder</h2>
    <h1>
        Gode teknologiløsninger<br>Mer tid til å gjøre det du er best på
    </h1>
    <p>
        Vi hjelper små og mellomstore bedrifter ta i bruk teknologi, for å jobbe mer effektivt, senke stress og bedre løsninger for kunder. Automatiserte og integrete systemer frir opp tid, så dere kan fokusere på det dere gjør best.
    </p>
</section>


<style>

    h1 {
      font-family: "libertine", sans-serif;
      font-size: 5rem;
      letter-spacing: -0.16rem;
      font-weight: 400;
      text-align: center;
      margin: 0;
      margin-bottom: 2rem;
    }
  
    h2 {
      font-family: "inter", sans-serif;
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 1.2rem;
      text-align: center;
      margin-top: 7rem;
      color: #222829;
    }
  
    p {
      font-family: "inter", sans-serif;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.5rem;
      text-align: center;
      margin-top: 2rem;
      color: #222829;
      max-width: 45rem;
      text-align: center;
      margin: 1rem auto;
    }
  
  </style>